@model ResetMyPasswordModel
<form asp-controller="Authorization"
      asp-action="ResetMyPassword"
      data-ajax-method="post"
      data-ajax="true"
      data-ajax-success="showMessageHideModel('Please check your email to show your new password !')"
      data-ajax-begin="onModalBegin"
      data-ajax-complete="onModalComplete">
    <div class="mb-2">
        <div class="form-floating">
            <input class="form-control form-control-solid" placeholder="Email" asp-for="Email" />
            <label asp-for="Email"></label>
        </div>
        <span asp-validation-for="Email" class="text-danger d-block"></span>
    </div>
    <partial name="_PopUpModelFooter" />
</form>